
{% extends 'base.html.twig' %}
{% block title %}New Publication{% endblock %}

{% block body %}
<style>
 h1{
    margin-top: 200px;
 }
 .addpost{
     width: 50%;
     margin-bottom: 50px;
     display: flex;
     flex-direction: column;
     column-gap: 10px;
     align-items: center;
     justify-content: center;
     margin-left: auto;
     margin-right: auto;
 }
 .form{
     display: flex;
     flex-direction: column;
 }
 .form_widget{
     width: 200px;
 }
 .contpub{
     width: 200px;
 }
</style>
    <div class="addpost">
        <h1>Ajouter une Publication</h1>
        <div class="form">
            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
            <div>{{ form_errors(form.ContenuPublication) }}</div>
            <div>{{ form_widget(form.ContenuPublication , {'attr':{'class':'form-control'}}) }}</div>


            <div class="custom-file">
                <label class="custom-file-label">Chosiez une image</label>
            </div>
            <div class="input-group mb-3">
                <div class="custom-file">

                    {{ form_widget(form.ImageForum,{ 'attr': {'class': 'custom-file-input' } }) }}
                </div>
            </div>

            <div>{{ form_widget(form.captcha, {'attr':{'class':'form-control'}}) }}</div>
            <div>{{ form_widget(form.Save,{'attr':{'class':'btn btn-success'}}) }}</div>

            {{ form_end(form) }}
        </div>


        <a href="{{ path('app_publication_index') }}">Retour</a>
    </div>
    
{% endblock %}
