


{% extends 'baseBack.html.twig' %}

{% block body %}
    <title>{% block title %}Activitées {% endblock %}</title>
    <div class="tab">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <div class="card-header">
                        <h4 class="card-title">Activitées</h4>

                        <a href="{{ path('app_activite_centre_new') }}"  class="btn btn-primary mb-2">Ajouter</a>

                    </div>

                    <table class="table table-bordered table-striped verticle-right table-responsive-sm table-hover">

                        <thead>
                        <tr>

                            <th >ID</th>
                            <th >Jour de l'activite</th>
                            <th >Nom de l'activite</th>
                            <th >Contenu de l'activite</th>
                            <th>Heure debut de l'activite</th>
                            <th>Heure fin de l'activite</th>
                            <th>Nombre Participant maximale</th>
                            <th >Plan</th>
                            <th >Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for activite_centre in activite_centres %}
                            <tr href="{{ path('app_activite_centre_show', {'id': activite_centre.id}) }}">
                                <td>{{ activite_centre.id }}</td>
                                <td>{{ activite_centre.JourActivite }}</td>
                                <td>{{ activite_centre.NomActivite }}</td>
                                <td>{{ activite_centre.ContenuActivite }}</td>
                                <td>{{ activite_centre.HeureDebutActivite ? activite_centre.HeureDebutActivite|date('⏰H:i:s') : '' }}</td>
                                <td>{{ activite_centre.HeureFinActivite ? activite_centre.HeureFinActivite|date('⏰H:i:s') : '' }}</td>
                                <td>{{ activite_centre.NombreParticipantActiviteMax }}</td>
                                <td>{{ activite_centre.Planning }}</td>
                                <td width="5%"><span><a href="{{ path('app_activite_centre_edit', {'id': activite_centre.id}) }}" class="mr-4" data-toggle="tooltip"
                                                        data-placement="top" title="Modifer"><i
                                                    class="fa fa-pencil color-muted"></i> </a>
                                        <a class="fa fa-eye" style="display:flex;" aria-hidden="true" href="{{ path('app_activite_centre_show', {'id': activite_centre.id}) }}"></a>
                                        <form method="post" action="{{ path('app_activite_centre_delete', {'id': activite_centre.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément');">
                                        <button href="{{ path('app_activite_centre_delete', {'id': activite_centre.id}) }}" title="Supprimer" class="fa fa-trash-o color-danger border-0" >
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite_centre.id) }}">
                                            </button>
                                        </form>
                            </span>

                                </td>

                            </tr>
                        {% else %}
                            <td></td>
                            <td>
                                I'll n'a pas d'activitées'
                            </td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <style>
        .tab{

            width: 1000px;
            position: relative;
            margin-top: 200px;
            left: 400px;
        }
        button:hover{
            color: red;
        }
        .rounded-corners{
            border-radius: 10%;
        }


    </style>
    <a href="{{ path('app_activite_centre_new') }}">Create new</a>
{% endblock %}