{% extends 'baseBack.html.twig' %}

{% block title %}ActiviteCentre{% endblock %}

{% block body %}
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Activité </h4>
                        <br><br><br>
                    </div>
                    <div align="center">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <br>

                                    <div class="table-responsive">
                                        <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activite_centre.id }}</td>
            </tr>
            <tr>
                <th>JourActivite</th>
                <td>{{ activite_centre.JourActivite }}</td>
            </tr>
            <tr>
                <th>NomActivite</th>
                <td>{{ activite_centre.NomActivite }}</td>
            </tr>
            <tr>
                <th>ContenuActivite</th>
                <td>{{ activite_centre.ContenuActivite }}</td>
            </tr>
            <tr>
                <th>HeureDebutActivite</th>
                <td>{{ activite_centre.HeureDebutActivite ? activite_centre.HeureDebutActivite|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HeureFinActivite</th>
                <td>{{ activite_centre.HeureFinActivite ? activite_centre.HeureFinActivite|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NombreParticipantActiviteMax</th>
                <td>{{ activite_centre.NombreParticipantActiviteMax }}</td>
            </tr>
        </tbody>
    </table>
                                        <button class="btn btn-primary mr-2">
                                            <a href="{{ path('app_activite_centre_index') }}">Retour</a>
                                            <button class="btn btn-primary mr-2"><a href="{{ path('app_activite_centre_edit', {'id': activite_centre.id}) }}">Edit</a></button>
                                            <br/>
                                            <br/>

                                            {{ include('activite_centre/_delete_form.html.twig') }}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
