{% extends 'baseBack.html.twig' %}


{% block body %}
    <title>{% block title %}Ajouter une categories{% endblock %}</title>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    <div class="formCategorie">
    <div class="row">
        <div class="col-xl-12 col-xxl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Ajouter une categorie</h4>
                </div>
                <div class="card-body">
                    <form action="#" id="step-form-horizontal" class="step-form-horizontal">
                        <div>
                            <section>
                                <div class="row">

                                    <div class="col-lg-12 mb-4">
                                        <div class="form-group">
                                            <label class="text-label">Nom categorie</label>
                                            <div class="input-group">
                                                {{ form_widget(form.NomCategorie, { 'attr': {'class': 'form-control' } })}}
                                                </div>
                                           <li class="text-danger">{{ form_errors(form.NomCategorie, { 'attr': {'class': 'form-control' } })}}</li>
                                            </div>
                                        </div>


                                    <div class="col-lg-12 mb-4">
                                        <div class="form-group">
                                            <label class="text-label">Image de la categorie</label>
                                            <div class="input-group">

                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">Upload</span>
                                                    </div>
                                                    <div class="custom-file">
                                                        <label class="custom-file-label">Chosiez une image</label>
                                                        {{ form_widget(form.ImageCategorie, { 'attr': {'class': 'custom-file-input' } })}}
                                                    </div>

                                                </div>
                                                <li class="text-danger">{{ form_errors(form.ImageCategorie, { 'attr': {'class': 'form-control' } })}}</li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary mb-2">{{ button_label|default('Ajouter') }}</button>
                            </section>
                            {{ form_end(form) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <a href="{{ path('app_categorie_index') }}" class="btn btn-outline-secondary mb-2">Annuler</a>
    </div>

    <style>
    .formCategorie {
        margin-top: 150px;
        position: relative;
        width: 1300px;
        left: 500px;
    }
    </style>
{% endblock %}
