{% extends 'baseBack.html.twig' %}

{% block title %}New Organisateur{% endblock %}

{% block body %}

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    <div class="content-body" style="min-height: 876px;">
        <div class="container-fluid">

            <div class="formorganisateur">
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Ajouter un organisateur</h4>
                            </div>
                            <div class="card-body">
                                <form action="#" id="step-form-horizontal" class="step-form-horizontal">
                                    <div>
                                        <section>
                                            <div class="row">
                                                <div class="col-lg-12 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Nom Organisateur</label>
                                                        <div class="input-group">
                                                            {{ form_widget(form.NomOrganisateur, { 'attr': {'class': 'form-control' } })}}
                                                        </div>
                                                        <li class="text-danger">{{ form_errors(form.NomOrganisateur, { 'attr': {'class': 'form-control' } })}}</li>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Numero Telephone Organisateur</label>
                                                        <div class="input-group">
                                                            {{ form_widget(form.NumTelOrganisateur, { 'attr': {'class': 'form-control' } })}}
                                                        </div>
                                                        <li class="text-danger">{{ form_errors(form.NumTelOrganisateur, { 'attr': {'class': 'form-control' } })}}</li>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">Pourcentage Revenu Organisateur</label>
                                                        <div class="input-group">
                                                            {{ form_widget(form.PourcentageRevenuOrganisateur, { 'attr': {'class': 'form-control' } })}}
                                                        </div>
                                                        <li class="text-danger">{{ form_errors(form.PourcentageRevenuOrganisateur) }}</li>
                                                    </div>
                                                </div>

                                            </div>
                                            <button class="btn btn-primary mb-2">{{ button_label|default('Ajouter') }}</button>
                                        </section>
                                        {{ form_end(form) }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="btn btn-outline-secondary mb-2" href="{{ path('app_organisateur_index') }}">Annuler</a>
            </div>
        </div>
    </div>
    <style>
        .formorganisateur {
            margin-top: 150px;
            position: relative;
            width: 1000px;
            left: 200px;

        }
    </style>
{% endblock %}